<div class='row'>
  <div class='col-lg-10'>
    <% hint = t("hyrax.admin.appearances.show.forms.#{color_name}.hint") %>
    <%= f.input color_name,
        required: false,
        input_html: { type: 'color', data: { default_value: hex } },
        hint: !missing_translation(hint) && hint %>
  </div>
  <div class='col-lg-2'>
    <%= link_to 'Restore Default',
        '#color',
        class: "btn btn-secondary restore-default-color #{'with-color-hint' if !missing_translation(hint)}",
        data: { default_target: color_name } %>
  </div>
</div>
