<% if display_content_block? @home_text %>
  <div class="row">
    <div class="col-sm-3">
      <div class="home_page_text">
        <%= displayable_content_block @home_text %>
      </div>
    </div>
  </div>
<% end %>
