  <a id="logo" href="<%= hyrax.root_path %>" data-no-turbolink="true">
    <span class="glyphicon glyphicon-globe" role="img" aria-label="<%= application_name %>" aria-hidden="true"></span>
    <%= image_tag "/assets/themes/temple_libraries_repository/tu-library-logo.png", alt_text: "Temple University Libraries Logo" %>
  </a>
