<% if display_content_block? @home_text %>
  <div class="home_page_text homepage-text-container">
    <%= displayable_content_block @home_text, class: 'col-12 home_page_text py-2' %>
  </div>
<% end %>
