<% # April's note: overriding Hyrax v5.0.0rc2 template for client theming %>

<% featured_collection = f.object.presenter %>
<div class="neutral-repository-collections pb-3 col-6 col-md-4">
  <%= link_to [hyrax, featured_collection] do %>
    <%= render_thumbnail_tag(featured_collection, { class: "img-fluid", alt: "#{featured_collection.title.first} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true}) %>
  <% end %>
  <div class="collection-item-title">
    <%= link_to [hyrax, featured_collection] do %>
      <h4><%= featured_collection.title.first %></h4>
    <% end %>
  </div>
</div>
