<%# NOTE: The #new action does not use this navigation partial. %>
<div class="panel-tab-wrapper">
  <ul class="nav nav-tabs">
    <% group_navigation_presenter.tabs.each do |tab| %>
      <li class="nav-item" role="presentation">
        <%= link_to tab.name, tab.path, class: "nav-link #{'active' if tab.css_class == 'active'}" %>
      </li>
    <% end %>
  </ul>
  <%= link_to t('hyku.admin.groups.nav.index'), admin_groups_path, class: 'float-right nav-escape-link' %>
</div>
