<% # April's note: overriding Hyrax v5.0.0rc2 template for client theming %>
<% featured_collection = f.object.presenter %>
<div class="col-6 col-md-2">
  <%= link_to [hyrax, featured_collection] do %>
    <%= render_thumbnail_tag(featured_collection, { class: "img-fluid mx-auto d-block", alt: "#{featured_collection.title.first} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true}) %>
  <% end %>
  <div class="collection-item-title">
    <%= link_to [hyrax, featured_collection] do %>
      <h3>
        <%= featured_collection.title.first %>
      </h3>
    <% end %>
  </div>
</div>
