<%# OVERRIDE Hyrax v5.0.0rc2 for theming %>

<% if display_content_block? @marketing_text %>
  <div class="home_marketing_text row">
    <%= displayable_content_block @marketing_text, class: 'col-md-12 mt-0 mb-0 home_marketing_text', role: 'complementary' %>
  </div>
<% end %>
